
.pcircle {
	position: relative;
	margin: 10;
	width: 300px;
}

.pcircle_percentage {
	display: block;
	width: 100%;
	margin: 0 auto;
	position: absolute;
	top: 100px;
	left: 0px;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	color: #95D2BA;
	font-size: 4rem;
}

@media (max-width: $xl) {
	.pcircle {
		margin: 5;
		width: 150px;
	}
	.pcircle_percentage {
		top: 45px;
		left: 0px;
		text-align: center;
		font-family: 'Roboto', sans-serif;
		color: #95D2BA;
		font-size: 2.5rem;
	}
}

@media (max-width: $xl) {
	.pcircle {
		margin: 5;
		width: 150px;
	}
	.pcircle_percentage {
		top: 45px;
		left: 0px;
		text-align: center;
		font-family: 'Roboto', sans-serif;
		color: #95D2BA;
		font-size: 2.5rem;
	}
}