
.logo {
      text-transform: uppercase;
      font-size: 2rem;
      color: #FF634D;
      display: block;
      width: 100%;
      padding: 3rem 0 0 4rem;
}
.navigation {
      display: block;
      width: 100%;
      padding: 5rem 2rem 0 5rem;
      &_list {
            &-item {
                  display: inline-block;
                  font-size: 1.1rem;
                  text-transform: uppercase;
                  margin-left: 1.5rem;
                  font-weight: 600;
                  &-link {
                        color: rgba(0, 0, 0, 0.55);
                  }
            }
      }
}

@media (max-width: $md) {
      .logo {
            font-size: 1.5rem;
            padding: 3rem 0 0 4rem;
      }

      .navigation {
            padding: 2rem 0;
            &_list {
                  &-item {
                        display: block;
                        font-size: 1.5rem;
                        text-transform: uppercase;
                        padding-bottom: 0.5rem;
                        &-link {
                              color: rgba(0, 0, 0, 0.55);
                        }
                  }
            }
      }
}
