// SLIDER - 1 -

.bitcoin {
      text-align: left;
      &_left {
            padding: 6rem;
            &_header {
                  font-size: 5rem;
                  font-weight: 700;
                  animation-name: moveInRight;
                  animation-duration: 2s;
            } 
            &_copy {
                  font-size: 1.5rem;

                  animation-name: moveInLeft;
                  animation-duration: 2s;
            }
      }
}

.chart_title {
      padding: 2rem;
      &_header {
            font-size: 1.5rem;
      }
      
}


// SLIDER - 2 -

.audience {
      text-align: left;
      
      &_left {
            padding: 6rem;
            &_header {
                  font-size: 5rem;
                  font-weight: 700;
                  animation-name: moveInDown;
                  animation-duration: 2s;
            }
            &_copy {
                  font-size: 1.5rem;

                  animation-name: moveInUp;
                  animation-duration: 2s;
            }
      }
}

@keyframes moveInDown {
      0% {
            opacity: 0;
            transform: translateY(-50px)
      }
      80% {

      }
      100% {
            opacity: 1;
            transform: translate(0);
      }
}

@keyframes moveInUp {
      0% {
            opacity: 0;
            transform: translateY(50px)
      }
      80% {

      }
      100% {
            opacity: 1;
            transform: translate(0);
      }
}

@keyframes moveInRight {
      0% {
            opacity: 0;
            transform: translateX(-50px)
      }
      80% {

      }
      100% {
            opacity: 1;
            transform: translate(0);
      }
}

@keyframes moveInLeft {
      0% {
            opacity: 0;
            transform: translateX(50px)
      }
      80% {

      }
      100% {
            opacity: 1;
            transform: translate(0);
      }
}