$base-color: #95D2BA;
$base-color-second: #FAECE6;
$second-color: #FDD982;
$second-color-second: #FF634D;

 // breakpoints 
      $xs: 480px;
      $sm: 576px;
      $md: 768px;
      $lg: 992px;
      $xl: 1200px;
      $xxl: 1600px;